// =================================================================
// 	Hello Lampost
// 	Sections
// =================================================================

//Top Section
.headerdesktop {
	display:none;
}

.hero {
	width: 100%;
	height: 150vh;
	max-height: 735px;
	margin: 0;
	padding: 90px 0 30px 0;
	background: $colorOne;
	position: relative;
	overflow: hidden;
	text-align: center;

	.col-6 {
    @include calc(width, "80% - 15px");
    float: none;
    display: block;
    margin:0 auto;
    margin-top: 7%;
	}

	h2 {
		font-size: 1.5em;
		text-align: center;
		line-height: 1.25;
		margin-bottom: 50px;
		color: $colorTwo;
	}

	h1 {
		text-align: center;
		line-height: 1.25;
		margin-bottom: 25px;
		color: $colorTwo;
	}

	.link-btn-one {
		display: block;
		margin: 25px auto 0 auto;
		padding: 12px 15px 12px 15px;

		&:after {
			background-image: url('/images/play.svg');
			width: 13px;
			height: 13px;
			margin-top: 2px;
		}
	}

	.col-4 {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	img {
		width: 100%;
		height: auto;
	}

	.image-bottom {
		bottom: 0;
		position: absolute;
		width: 100%;
		height: auto;
	}

	.information-holder {
		z-index: 50;
	}

	.scroll-down-button {
    padding: 16px 20px 16px 20px;
    @include border-radius(4px);
    background: $colorTwo;
    color: $colorOne;
    display: block;
    width: 100%;
    max-width:200px;
    font-family: "Gotham-bold", sans-serif;
		font-size: 1em;
    border: 0;
    transition: all 0.3s ease-in-out;
		text-align: center;
		bottom: 100px;
    margin: 5%;


		&:after {
			content: "";
			display: block;
			width: 17px;
			height: 17px;
			background-image: url('/images/arrow-down.svg');
			background-size: 100% 100%;
			background-position: 0 0;
			background-repeat: no-repeat;
			float: right;
			margin-left: 10px;
      padding-top: -10px;
      transition: all 0.3s ease-in-out;
		}
	}

	.object-ref a {
		border-bottom: 2px solid black;
	}

	@include mq("medium", "max-width") {
    padding: 60px 0 30px 0;

    h1 {
      font-size: 6rem;
    }

    .col-6 {
      @include calc(width, "100% - 15px");
      margin-top: 4%;
    }
		.col-4 {
			width: 350px;
		}

		/*
		img {
			display: block;
			width: 150%;
			height: auto;
			float: none;
			margin: 0 auto;
		}
		*/
	}

	@include mq("small", "max-width") {
		height: 150vh;
		overflow: hidden;
		margin-top: 68px;
		max-height: 535px;
		padding: 120px 0 50px 0;

		.col-6 {
			width: 100%;
		}

		h1 {
			margin-bottom: 15px;
      font-size: 3.3rem;
    }

		h2 {
			font-size: 1.3em;
			margin-bottom: 0;
		}

		.row{
			margin: 15px 0;
		}

		.text-row {
			margin-top: 50px;
		}

		.col-8 {
			width: 100%;
			padding: 20px 0;
		}

		.shift-2 {
			margin-left: 0;
		}
	}

	@include mq("super-small", "max-width") {
		padding: 0 0 25px 0;
    h1 {
      font-size: 2.2rem;
    }

    .col-6-fake {
			@include calc(width, "100% - 40px");
		}
	}
}


.hero.video {
	height: 75vh;
	max-height: 650px;

	img.bg-image {
		width: 200%;
	}

	.col-6-fake {
		top: 55%;
	}

	.image-bottom {
		top: 0;
		transform: rotate(180deg);
		bottom: auto;
	}

	@include mq("small", "max-width") {
		height: 50vh;

		.col-6-fake {
			top: 55%;
		}
	}
}


//The video
.video {
  background: $colorTwo;
  width:100%;
  margin:0;
  padding: 0;

  .row {
    margin: 0;
    padding: 0;
  }
}

.line {
  margin: 4% 0 2.5%;
    hr {
      opacity: 0.7;
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, #ccc, $colorWhite, #ccc);
    }
}

//Animated Ticker
.hero.message {
	height: 100vh;
	max-height: 540px;
  margin: 0;

	.text-row {
		position: relative;
		z-index: 50;

		.col-6 {
			display: block;
			float: none;
			margin: 0 auto;
		}

		.col-6 h1 {
			font-size: 2em;
		}
	}


	.bubble {
		margin-top: 50px;
		@include calc(width, "50% - 15px");
		box-sizing: border-box;
		position: absolute;
		z-index: 10;
	}

	.bubble.question {
		left: 0;
		transform: translateX(0%);
		@include transition(all, 0.5s, ease-in-out);
	}

	.bubble.answer {
		right: 0;
		transform: translateX(0%);
		@include transition(all, 0.5s, ease-in-out);
	}

	img.bg-image {
		position: absolute;
		top: 0;
		z-index: 0;
	}

	.bubble.question {
		top: 60px;
	}

	.bubble.answer {
		top: 80px;
	}

	.bubble .bubble-inner {
		width: 100%;
		box-sizing: border-box;
		padding: 25px;
		background: $colorTwo;
		color: $colorWhite;
		z-index: 2;
		font-size: 21px;
		font-family: "Gotham-bold", sans-serif;
		line-height: 1.3;
		@include border-radius(0 10px 10px 10px);

		&:after {
			content: "";
			display: block;
			background-image: url('/images/bubble_triangle.svg');
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			width: 40px;
			height: 40px;
			position: absolute;
			top: -30px;
			left: 0;
		}
	}

	.bubble.answer .bubble-inner {
		@include border-radius( 10px 10px 0 10px);

		&:after {
			top: auto;
			bottom: -30px;
			transform: rotate(180deg);
			right: 0;
			left: auto;
		}
	}

	.bubble h4 {
		color: $colorOne;
		font-family: "Gotham-bold", sans-serif;
		padding-bottom: 20px;
	}

	.bubble.question h4 {
		color: $colorThree;
	}

	.bubble.answer.off {
		transform: translateX(150%);
		right: 0;
		@include transition(all, 0.5s, ease-in-out);
	}

	.bubble.question.off {
		transform: translateX(-150%);
		left: 0;
		@include transition(all, 0.5s, ease-in-out);
	}

	.bubble.question .text {
		border-bottom-left-radius: 0;
	}

	.bubble.answer .text {
		border-top-right-radius: 0;
	}

	.bubble .object-ref{
		text-transform: uppercase;
	}

	.buttons {
		width: 460px;
		position: relative;
		display: block;
		top: 290px;
		margin: 0 auto;
		z-index: 10;
	}

	button {
		float: left;
		@include calc(width, "50% - 15px");
		padding: 15px 15px;
		margin-right: 30px;
		margin: 0;
		font-family: "Gotham-bold", sans-serif;
		background: $colorTwo;
		border: 0;
		font-size: 0.9em;
		box-sizing: border-box;
		border-radius: 0;
		@include border-radius(5px);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
		color: $colorOne;
		&:hover {
		}

		&:after {
			content: "";
			display: block;
			width: 17px;
			height: 17px;
			background-image: url('/images/arrow-yellow.svg');
			margin-top: 2px;
			background-size: 100% 100%;
			background-position: 0 0;
			float: right;
			margin-left: 10px;
		}
	}

	button.new-question {
		color: $colorThree;
		&:after {
			transform: rotate(180deg);
			float: left;
			background-image: url('/images/arrow-blue.svg');
			margin-left: 0px;
			margin-right: 10px;
		}

		&:hover {
		}
	}

	button:nth-child(2) {
		float: right;
	}

	.bubble.question .shadow {
		left: -40px;
	}

	.bubble.answer .shadow {
		top: 190px;
		left: 40px;
	}

	.bubble.question {
		padding-bottom: 25px;
	}

	.bubble.answer {
		padding-top: 25px;
	}

	.bubble .object-ref {
		font-family: "Gotham-bold", sans-serif;
		color: $colorWhite;
		height: 25px;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
		position: absolute;
		top: 50px; right: 25px;
		border-radius: 2px 2px 0 0;
		z-index: 2;
		opacity: 0.3;
		font-size: 0.7em;
	}

	.bubble .object-ref a {
		color: $colorWhite;
		border-bottom: 0;
	}

	@include mq("small", "max-width") {
		height: 100vh;
		max-height: 596px;
		padding-top: 25px;
		margin-top: 0;
    font-size: 1.4em;

		img.bg-image {
			position: absolute;
			top: 0;
			z-index: 0;
			width: 400%;
		}

		button{
			padding: 15px 10px;
		}

		.buttons {
			width: 100%;
			top: 400px;
		}

		.buttons button:after {
			display: none;
		}

		.text-row {
			margin-top: 40px;
		}

		.text-row .col-6 {
			width: 100%;

			h1 {
				font-size: 1.2em;
				line-height: 1.4;
			}
		}

		.bubble {
			width: 100%;
			font-size: 0.8em;
		}

		.bubble-inner {
			font-size: 16px;
		}

		.bubble-inner h4 {
			font-size: 16px;
		}

		.bubble-inner .text {
			font-size: 16px;
		}

		.bubble.answer {
			top: 200px;
		}

		.bubble .bubble-inner {
			&:after {
				top: -15px;
			}
		}

		.bubble .question{
			top: 0;
			margin-top: 25px;
		}

		.bubble.answer .bubble-inner {
			@include border-radius( 10px 10px 0 10px);
			&:after {
				bottom: -15px;
			}
		}

		.bubble .object-ref{
			font-size: 0.6em;
			right: 5px;
			top: 35px;
		}
	}

  @include mq("super-small", "max-width") {
      font-size: 1.4em;
      padding-top: 6px;
      max-height: 650px;

      button{
  		  font-size: .8em;
  		}
  }
}



//Show more Pop Up//////
.pop-up {
	display: block;
	width: 320px;
	background: $colorThree;
	position: absolute;
	top: 0;
	right: 0;
	padding: 18px 0px 18px 0px;
	box-sizing: border-box;
	height: auto;
	z-index: 1000;

	p {
		color: $colorWhite;
		padding: 0;
		padding-right: 20px;
		font-size: 14px;
	}

	p:after {
		content: "";
		display: block;
		position: absolute;
		top: 20px;
		right: 0px;
		width: 18px;
		height: 18px;
		background-image: url('/images/arrow-pink.svg');
		background-size: 100% 100%;
		background-position: 0 0;
	}

	@include mq("small", "max-width") {
		width: 100%;
		position: relative;
		padding: 15px 0;

		p {
			font-size: 12px;
			width: 92%;
		}

		p:after {
			top: 32%;
			right: 0px;
		}
	}

	@include mq("nano", "max-width") {
		p {
			font-size: 12px;
			width: 85%;
		}
	}
}



//Stick figure process //////
.process {
	background: lighten($colorTwo, 5%);
	height: auto;
	overflow: auto;
	width: 100%;
	padding: 100px 0;

	.col-4:last-child .process-item:last-child:after {
		display: none;
	}

	.process-item {
		width: 270px;
		display: block;
		margin: 0 auto;
		text-align: center;
		position: relative;

		h4 {
			font-family: "Gotham-Bold", sans-serif;
			color: $colorWhite;
			margin-bottom: 10px;
		}

		p, span {
			color: $colorWhite;
		}

		&:after {
			content: "";
			display: block;
			width: 100px;
			top: 80px;
			right: -115px;
			position: absolute;
			height: 15px;
			background-image: url('/images/large-arrow.svg');
			background-size: 100% 100%;
			background-position: 0 0;
		}
	}

	p a {
		color: $colorWhite;
	}

	.top-img {
		position: absolute;
		top: -25px;
		left: 0;
		z-index: 10;
		width: 210px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}

	.image-circle {
		width: 170px;
		display: block;
		margin: 0 auto;
		text-align: center;
		border: 3px solid $colorWhite;
		margin-bottom: 30px;

		img {
			width: 100%;
		}
	}

	@include mq("medium", "max-width") {
		.process-item:after {
			right: -80px;
		}
	}

	@include mq("small", "max-width") {
		padding: 50px 0 0 0;

		.col-4 {
			width: 100%;
		}

		h4 {
			font-size: 1.3em;
		}

		.process-item {
			width: 250px;
			display: block;
			margin: 0 auto;
			float: none;
			padding-bottom: 50px;
		}

		.image-circle {
			width: 180px;
		}

		.process-item:after {
			display: none;
		}
	}
}


//Information ///////
.information {
	width: 100%;
  height:650px;
	clear: both;
	display: block;
	overflow: hidden;
	position: relative;
  background: #1d1d1d;

  .left-block {
    position: absolute;
    left: 0;
    width: 50%;
    float: left;
    height: 100%;
  }

	img {
		width: 1000px;
    left: 0;
    bottom: 0;
		height: auto;
	}

	.col-6 {
		background: #1d1d1d;
		float: right;
		box-sizing: border-box;
    width: 50%;
    //@include calc(width, "50% - 1px");
    padding: 5%;
		//@include calc(padding-left, "12.33% + 1px");
		margin-top: 6%;
    //padding-left: 5%;

	}

	h1 {
		color: $colorThree;
		line-height: 1.2;
    font-size: 1.5rem;
		margin-bottom: 30px;
	}

	p {
		color: #fff;
		opacity: 0.8;
	}

	.link-btn-one {
		margin-top: 40px;
		background: $colorThree;

		&:hover{
		}
	}

	.link-btn-one:after {
		transform: rotate(90deg);
		@include transition(all, 0.3s, ease-in-out);
	}

	.link-btn-one.active:after {
		transform: rotate(-90deg);
	}

	.right-block {
		position: absolute;
		right: 0;
		width: 40%;
		float: right;
		height: 100%;
	}

	@include mq("medium", "max-width") {
    display: block;
    position: relative;
    height: 940px;

    .left-block {
      position: relative;
      width: 100%;
      overflow: hidden;
      max-height: 570px;
    }

    .right-block {
    display: none;
    }

		img {
      width: 120%;
			top:0;
			bottom: auto;
			position: relative;
		}

		.col-6 {
			background: none;
      margin: 20px;
      width: 100%;
		}
	}

	@include mq("extra-large", "min-width") {
		.col-6 {
			padding-top: 100px;
			padding-bottom: 100px;
		}
	}

  @include mq("extra-small", "max-width") {
  height: 770px;
    .left-block {
      max-height: 510px;
    }
    .col-6 {
      padding: 2%;
      margin: 8% 0;
    }
  }

  @include mq("small", "max-width") {
    height: auto;
      .col-6 {
        padding: 2%;
        margin: 6% 0;
      }
  }
  @include mq("super-small", "max-width") {
  height: auto;
    .left-block {
      max-height: 260px;
      top:0;
    }
		.col-6 {
      margin: 10% 0;
		}
    img {
      width: 120%;
    }
	}
}

//Dataset///
.data {
  width: 100%;
  height:100%;
  clear: both;
  display: block;
  overflow: hidden;
  position: relative;
  background: #1d1d1d;

  .col-6 {
    background: #1d1d1d;
    box-sizing: border-box;
    @include calc(width, "45% - 1px");
    position: absolute;
    margin: 13% 0 0 0;
    padding: 3% 1%;

  }
  .left-block {
    position: absolute;
    left: 0;
    width: 40%;
    float: left;
    height: 100%;
  }

  .rightinfo {
    float: right;
    width: 60%;
    height: 100%;
    background: $colorWhite;
  }
  .col-9 {
    margin: 0 auto;
    box-sizing: border-box;
    @include calc(width, "90% - 1px");
    @include calc(padding-left, "15.33% + 1px");
    margin: 25% 0;

    p{
    font-weight: bold;
    font-size: 1.4em;
    color: $colorTwo;
    }
  }
  .link {
    p{
      font-weight: bold;
      opacity: 1;
      color: $colorThree;
    }
    a{
      font-size: 1.9em;
      line-height: 1.4;
      font-family: "Gotham-bold", sans-serif;
      color: $colorThree;
      text-decoration: underline;
    }
    a:hover {
      color: $colorOne;
      text-decoration: none;
    }
  }

  @include mq("medium", "max-width") {
    display: block;
    position: relative;
      .left-block {
        display: none;
      }
      .rightinfo {
      width: 100%;
      height: 350px;
      }
      .col-6 {
        width:100%;
        background: none;
        position: relative;
        padding: 3%;
        margin: 4.5% 0;

        p {
        margin-bottom: 4%;
        }
      }
      .col-9 {
        padding: 3%;
        margin: 6.5% 0;;
        width: 100%;
      }
  }

  @include mq("extra-small", "max-width") {
  .col-6 {
    margin: 9.5% 0;
    font-size: 1.1em;
    }
  }
    @include mq("super-small", "max-width") {
      .col-9 {
        width: 100%;
        margin: 10% 0;
        padding: 0;
      }
      .col-9 p {
        font-size: 1.2em;
      }
      .col-6 p {
        font-size: 1.1em;
      }
    }
}



//how to play //////
.how-to-play {
	width: 100%;
	clear: both;
	display: block;
	overflow: hidden;
	position: relative;
	background: $colorThree;
	display: none;

	.col-6 {
		padding: 80px 20px 80px 20px;
	}

	.pushed-column {
		padding-top: 148px;
	}

	h5 {
		margin-bottom: 50px;
		color: $colorTwo;
		border: 1px solid $colorTwo;
		width: intrinsic;
		max-width: 140px;
	}

	h1 {
		color: $colorTwo;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	p {
		color: $colorTwo;
		opacity: 0.8;
	}

	p.small {
		margin-top: 5px;
	}

	&.active {
		display: block;
	}

	@include mq("small", "max-width") {
		.col-6 {
			width: 100%;
			padding: 50px 0px 0px 0px;
		}

		.pushed-column {
			padding-top: 0px;
			padding-bottom: 50px;
		}
	}
}



//Contact///
.contact {
  .swiper-container {
    padding-top: 15rem;
  }
}
.contact, .slider {
	width: 100%;
  height: auto;
	clear: both;
	display: block;
	overflow: hidden;
	position: relative;

	.col-6 {
		box-sizing: border-box;
    height: 100%;
    width: 50%;
    padding: 5rem 0 4rem 1.5rem;
    margin: 0;
    display: table;
	}

	h3 {
		margin-bottom: 3rem;
		color: $colorTwo;
		opacity: 0.8;
    font-size: 0.9em;
	}

	h1 {
		color: $colorTwo;
    margin-bottom: 3rem;
	}

	p {
		color: $colorTwo;
		opacity: 0.8;
	}

	p a {
		color: $colorTwo;
		border-bottom: 2px solid $colorTwo;
	}

	.logo-container {
		margin: 35px 0;

		a {
			width: 33.3%;

			img{
				max-width: 50px;
				margin-right: 20px;
				transition: $hover;
				position: relative;
				top: 0;

				&:hover{
					top: -5px;
				}
			}
		}
	}

	.link-btn-one {
		margin-top: 40px;
		background: $colorTwo;
		color: $colorOne;

		&:after {
			background-image: url('/images/arrow-yellow.svg');
		}

		&:hover{
		}
	}

	.right-block {
		position: absolute;
		right: 0;
		background: $colorTwo;
		width: 40%;
		float: right;
		height: 100vh;
	}

	.col-4 {
		float: right;
		text-align: center;
		position: relative;
    width: 36%;

		h3, p {
			color: $colorTwo;
			text-align: center;

		}
		.image-circle {
			box-sizing: border-box;
			width: 90%;
			display: block;
			margin: 15px auto;
			float: none;
		}

		span {
			color: $colorTwo;
		}
	}

	@include mq("small", "max-width") {
  height: auto;
    .col-6 {
      background: none;
      width: 100%;
      display: inline-block;
      padding-bottom: 1rem;
    }

    h1 {
      font-size: 2.5rem;
    }


    .col-4 {
      width: 100%;

      .image-circle{
        width: 65%;
      }
    }
    .swiper-container {
      padding: 0;
    }
  }
}


//Supporters/////
.supporters {
	height: auto;
	width: 100%;
	display: block;
	padding: 30px 0;
	height: auto;
	overflow: auto;
	background: $colorTwo;

	a{
		transition: $hover;
	}

	a:hover{
		opacity: 0.75;
	}

	h4 {
		color: #fff;
		margin-top: 40px;
	}

	.col-3 img {
		width: 70%;
		display: block;
		margin: 0 auto;
		float: none;
		padding: 0 20px;
	}

	@include mq("small", "max-width") {
		padding: 10px 0;

		h4 {
			text-align: center;
			margin-bottom: 40px;
			margin-top: 0px;
		}

		.col-3 {
			width: 33.3%;
			display: inline;
			margin: 0;
			padding: 0;
		}

		.col-3 img {
			width: 100%;
			padding: 0;
			margin: 0;
		}
	}
}



@keyframes slidy {
0% { left: 30%; }
15% { left: 30%; }
30% { left: -10%; }
45% { left: -10%; }
50% { left: -53%; }
60% { left: -53%; }
70% { left: -95%; }
80% { left: -95%; }
86% { left: -132%; }
100% { left: -132%; }

}
.slideshow {
  background-color: $colorThree;
  width: 100%;
  padding: 4rem 0;

    #slider {
      overflow: hidden;
      width: 100%;

      figure {
        position: relative;
        width: 400%;
        margin: 0;
        left: 0%;
        animation: 30s slidy infinite;

      img {
        width: 10%;
        margin-right: 20px;
        box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.75);
      }
    }
  }


  @include mq("super-small", "max-width") {
    figure {
      width: 500%;
    }
  }
}
