// =================================================================
// 	Mediapreview
// 	Colors
// =================================================================

$colorWhite: #FFFFFF; //white
$colorOne: #FFD100; //yellow
$colorTwo: #2A2A2A; //dark grey
$colorThree: #44BFEF; //blue
