// =================================================================
// 	Mediapreview
// 	Colors
// =================================================================

$colorWhite: #FFFFFF;
$colorOne: #FFD100;
$colorTwo: #2A2A2A;
$colorThree: #44BFEF;